@using ExamenOracle01.Models.ViewModel
@model List<ListOrdenManufactureViewModel>

@{
    ViewBag.Title = "List";
}

<!-- Tabla -->
<table id="tablaOrdenes" class="table table-striped">
    <thead>
        <tr>
            <th>ID Orden</th>
            <th>Orden de Fabricación</th>
            <th>Estatus</th>
            <th>Cliente</th>
            <th>Tipo de Corte</th>
        </tr>
    </thead>
    <tbody>
        <!-- Los datos de las órdenes de fabricación se generarán dinámicamente en el código de JavaScript -->
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdOrden</td>
                <td>@item.ManufacturingOrder</td>
                <td>@item.Status</td>
                <td>@item.Client</td>
                <td>@item.CutType</td>
            </tr>
        }

    </tbody>
</table>
